#google-map,
body,
html {
    padding: 0;
    height: 400px;
}
.account-setting a{
    border: 1px solid #000;
    border-radius: 5px;
}
.account-setting a:hover{
    color: #1d78cb;
}
.address li{
    color: #fff;
}
.address li i{
    padding-right: 5px;
}

.slider-img{
    min-height: 400px;
    max-height: 400px;
    width: 625px;
}
.newest-project-img{
    width: 90px;
    height: 90px;
}

.pagination li span:hover{
    background: #111;
    color: #fff;
}
.pagination li a:hover{
    background: #111;
    color: #fff;
}