{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block body %}
<div class="page-header" style="background: url({% static 'frontend/img/banner1.jpg' %});">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-wrapper">
                    <h2 class="page-title">{{ object.project_name }} details</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="content">
    <div class="container">
        <div class="row">
            <div class="property-head">
                <div class="col-md-5 col-sm-4">
                    <h2 class="title-property">
{{ object.project_name }}
</h2>
                    <p>&nbsp;</p>
                </div>
                <div class="col-md-2 col-sm-2">
                    <span class="price-detail">৳ {{ object.budget }}</span>
                </div>
{#                <div class="col-md-3 col-sm-4">#}
{#                    <div class="icon">#}
{#                        <a href="#"><i class="icon-printer"></i> Print</a>#}
{#                        <a href="#"><i class="icon-star"></i> Favourite</a>#}
{#                        <a href="#"><i class="icon-share"></i> Share</a>#}
{#                    </div>#}
{#                </div>#}
            </div>

            <div class="product-info">
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="details-wrapper">
                        <div id="owl-demo" class="owl-carousel owl-theme">
                            {% if object.picture1 is not Null %}
                            <div class="item">
                                <img src="{{ '/' }}{{ object.picture1 }}" alt="" class="slider-img">
                            </div>
                            {% endif %}
                            {% if object.picture2 is not Null %}
                            <div class="item">
                                <img src="{{ '/' }}{{ object.picture2 }}" alt="" class="slider-img">
                            </div>
                            {% endif %}
                            {% if object.picture3 is not Null %}
                            <div class="item">
                                <img src="{{ '/' }}{{ object.picture3 }}" alt="" class="slider-img">
                            </div>
                            {% endif %}
                            {% if object.picture4 is not Null %}
                            <div class="item">
                                <img src="{{ '/' }}{{ object.picture4 }}" alt="" class="slider-img">
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="inner-box details">
                        <div class="property-dsc">
                            <h2 class="title-2">Project Description</h2>
                            <p>{{ object.description|safe }}</p>
                        </div>
                    </div>
                    <div class="inner-box short-info">
                        <h2 class="title-2">Quick Summary</h2>
                        <ul class="additional-details">
                            <li>
                                <strong>Budget:</strong>
                                <span>{{ object.budget|floatformat:2 }}</span>
                            </li>
                            <li>
                                <strong>Worker:</strong>
                                <span>{{ object.worker }}</span>
                            </li>
                            <li>
                                <strong>Start date:</strong>
                                <span>{{ object.start_date }}</span>
                            </li>
                            <li>
                                <strong>End date:</strong>
                                <span>{{ object.end_date }}</span>
                            </li>
                            <li>
                                <strong>Administrator:</strong>
                                <span>{{ object.administrator }}</span>
                            </li>
                            <li>
                                <strong>Category:</strong>
                                <span>{{ object.category }}</span>
                            </li>
                            <li>
                                <strong>Last update</strong>
                                <span>{{ object.updated_at }}</span>
                            </li>
                        </ul>
                    </div>
                    {% if object.latitude and object.longitude %}
                    <div class="inner-box location-map">
                        <h2 class="title-2">Location On Map</h2>
                        <div id="google-map"></div>
                    </div>
                    {% endif %}
                    <div class="inner-box contact-info">
{#                        <h2 class="title-2">Contact info</h2>#}
{#                        <div class="agent-media">#}
{#                            <div class="img-left">#}
{#                                <a href="#"><img src="{% static 'frontend/img/productinfo/agent.jpg' %}" alt=""></a>#}
{#                            </div>#}
{#                            <div class="media-body">#}
{#                                <h4>Contact Agent</h4>#}
{#                                <p><i class="far fa-user"></i> Janet Richmonds</p>#}
{#                                <p><i class="fas fa-phone"></i> 789 456 3210</p>#}
{#                                <ul class="social-agent">#}
{#                                    <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>#}
{#                                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>#}
{#                                    <li><a href="#"><i class="fab fa-linkedin"></i> Linkedin</a></li>#}
{#                                    <li><a href="#"><i class="fab fa-google-plus"></i> Google Plus</a></li>#}
{#                                    <li><a href="#"><i class="fab fa-youtube"></i> Youtube</a></li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
                        <div class="detail-title-inner">
                            <h4 class="title-inner">Inquire about this project</h4>
                        </div>

                        <form id="contactForm" class="contact-form" data-toggle="validator">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="msg_phone" name="phone" placeholder="Phone" required data-error="Please enter your Phone Number">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="email" placeholder="Email" required data-error="Please enter your email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Massage" rows="10" data-error="Write your message" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" id="submit" class="btn btn-common">Send Message</button>
                                    <div id="msgSubmit" class="h3 text-center hidden"></div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <aside id="sidebar" class="col-md-3 col-sm-12 col-xs-12 right-sidebar">

                    <div class="widget property-agent">
                        <h3 class="widget-title">Engineer Details</h3>
                        <div class="agent-info">
                            {% if object.user.profile.picture %}
                            <a><img src="{{ object.user.profile.picture }}" alt=""></a>
                            {% else %}
                                <a><img src="{% static 'frontend/img/avatar.png' %}" alt=""></a>
                            {% endif %}
                            <br>
                            <p> &nbsp;</p>
                            <h4 class="agent-name">{{ object.user.first_name }} {{ object.user.last_name }}</h4>
                            <ul class="contacts-list">
                                <li class="mobile"><i class="fas fa-phone"></i> {{ object.user.profile.phone_number }}</li>
                                <li class="office"><i class="far fa-envelope"></i> <a href="mailto:{{ object.user.email }}">{{ object.user.email }}</a></li>
                            </ul>
                            <p>{{ object.user.profile.about }}</p>
                                <br>
                        </div>
                    </div>

                    <div class="widget widget-categories">
                        <h3 class="widget-title">Categories</h3>
                        <ul class="cat-list">
                            <li>
                                <a href="/project/category/upcoming">Upcoming</a>
                                <span class="num-posts">15</span>
                            </li>
                            <li>
                                <a href="/project/category/in-progress">In progress</a>
                                <span class="num-posts">25</span>
                            </li>
                            <li>
                                <a href="/project/category/completed">Completed</a>
                                <span class="num-posts">44</span>
                            </li>
                        </ul>
                    </div>

                    <div class="widget widget-popular-posts">
                        <h3 class="widget-title">Latest News</h3>
                        <ul class="posts-list">
                            {% for project in newest_project %}
                            <li>
                                <div class="widget-thumb">
                                    <a href="#"><img src="{{ '/' }}{{ project.master_picture }}" alt="" class="newest-project-img" /></a>
                                </div>
                                <div class="widget-content">
                                    <a href="#">{{ project.project_name }}</a>
                                    <span>Budget: ৳ {{ project.budget|floatformat:2 }}</span>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

{#                    <div class="widget widget-social">#}
{#                        <h3 class="widget-title">Social Media</h3>#}
{#                        <div class="social-link">#}
{#                            <a class="twitter" target="_blank" href="#"><i class="fab fa-twitter"></i></a>#}
{#                            <a class="facebook" target="_blank" href="#"><i class="fab fa-facebook"></i></a>#}
{#                            <a class="google" target="_blank" href="#"><i class="fab fa-google-plus"></i></a>#}
{#                            <a class="linkedin" target="_blank" href="#"><i class="fab fa-linkedin"></i></a>#}
{#                        </div>#}
{#                    </div>#}
                </aside>

            </div>

        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="similar-properties">
                <div class="col-md-12">
                    <h2 class="title-2">Similar Properties</h2>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="property-main">
                        <div class="property-wrap">
                            <div class="property-item">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="/project">
                                        <img src="{% static 'frontend/img/project/house-1.jpg' %}" alt="">
                                    </a>
                                    <span class="label-featured">Featured</span>
                                    <div class="label-inner">
                                        <span class="label-status label">For Sale</span>
                                    </div>
                                    <div class="price">
                                        <span class="item-price">$526.885</span>
                                        <span class="item-sub-price">$3.500/sq ft</span>
                                    </div>
                                </figure>
                                <div class="item-body">
                                    <h3 class="property-title"><a href="#">Guaranteed modern home</a></h3>
                                    <div class="adderess"><i class="fas fa-map-marker-alt"></i> 385 Drive Street, Louis, US</div>
                                    <div class="info">
                                        <p><span>Bedroom: 4</span><span>Bathroom: 2</span><span>Sq Ft: 2500</span></p>
                                        <p>Single Family Home</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot date hide-on-list">
                            <div class="pull-left">
                                <p class="prop-user-agent"><i class="far fa-user"></i> <a href="#">Will Ernest </a></p>
                            </div>
                            <div class="pull-right">
                                <p class="prop-date"><i class="far fa-calendar-alt"></i> 9 months ago</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="property-main">
                        <div class="property-wrap">
                            <div class="property-item">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="/project">
                                        <img src="{% static 'frontend/img/project/house-2.jpg' %}" alt="">
                                    </a>
                                    <div class="label-inner">
                                        <span class="label-status label">For Rent</span>
                                    </div>
                                    <div class="price">
                                        <span class="item-price">$486.885</span>
                                        <span class="item-sub-price">$3.500/sq ft</span>
                                    </div>
                                </figure>
                                <div class="item-body">
                                    <h3 class="property-title"><a href="#">Amazing home for family</a></h3>
                                    <div class="adderess"><i class="fas fa-map-marker-alt"></i> 1 Booking Dr. St. Louis, Missouri</div>
                                    <div class="info">
                                        <p><span>Bedroom: 3</span><span>Bathroom: 2</span><span>Sq Ft: 750</span></p>
                                        <p>Single Family Home</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot date hide-on-list">
                            <div class="pull-left">
                                <p class="prop-user-agent"><i class="far fa-user"></i> <a href="#">Maria Barlow</a></p>
                            </div>
                            <div class="pull-right">
                                <p class="prop-date"><i class="far fa-calendar-alt"></i>9 months ago</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="property-main">
                        <div class="property-wrap">
                            <div class="property-item">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="property.html">
                                        <img src="{% static 'frontend/img/project/house-3.jpg' %}" alt="">
                                    </a>
                                    <div class="label-inner">
                                        <span class="label-status label">For Sale</span>
                                    </div>
                                    <div class="price">
                                        <span class="item-price">$250.885</span>
                                        <span class="item-sub-price">$2.500/sq ft</span>
                                    </div>
                                </figure>
                                <div class="item-body">
                                    <h3 class="property-title"><a href="#">Gorgeous in green house</a></h3>
                                    <div class="adderess"><i class="fas fa-map-marker-alt"></i> 21st st, California, US</div>
                                    <div class="info">
                                        <p><span>Bedroom: 4</span><span>Bathroom: 3</span><span>Sq Ft: 750</span></p>
                                        <p>Single Family Home</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot date hide-on-list">
                            <div class="pull-left">
                                <p class="prop-user-agent"><i class="far fa-user"></i> <a href="agents.html">Janet Richmond</a></p>
                            </div>
                            <div class="pull-right">
                                <p class="prop-date"><i class="far fa-calendar-alt"></i>9 months ago</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="property-main">
                        <div class="property-wrap">
                            <div class="property-item">
                                <figure class="item-thumb">
                                    <a class="hover-effect" href="property.html">
                                        <img src="{% static 'frontend/img/project/house-4.jpg' %}" alt="">
                                    </a>
                                    <div class="label-inner">
                                        <span class="label-status label">For Sale</span>
                                    </div>
                                    <div class="price">
                                        <span class="item-price">$676.885</span>
                                        <span class="item-sub-price">$4.500/sq ft</span>
                                    </div>
                                </figure>
                                <div class="item-body">
                                    <h3 class="property-title"><a href="#">Family home for sale</a></h3>
                                    <div class="adderess"><i class="fas fa-map-marker-alt"></i> 53 W 88th St, Louis, US</div>
                                    <div class="info">
                                        <p><span>Bedroom: 5</span><span>Bathroom: 4</span><span>Sq Ft: 900</span></p>
                                        <p>Single Family Hom</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item-foot date hide-on-list">
                            <div class="pull-left">
                                <p class="prop-user-agent"><i class="far fa-user"></i> <a href="agents.html">Samuel Palmer</a></p>
                            </div>
                            <div class="pull-right">
                                <p class="prop-date"><i class="far fa-calendar-alt"></i>9 months ago</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHo_WtZ2nIYCgCLf7sINZaqcrpqSDio9o"></script>
    <script type="text/javascript">
      var map;
      var defult = new google.maps.LatLng({{ object.latitude }}, {{ object.longitude }},17.29);
      var mapCoordinates = new google.maps.LatLng({{ object.latitude }}, {{ object.longitude }},17.29);
      var markers = [];
      var image = new google.maps.MarkerImage(
        'frontend/img/map-marker.png',
        new google.maps.Size(84, 70),
        new google.maps.Point(0, 0),
        new google.maps.Point(60, 60)
      );
      function addMarker() {
        markers.push(new google.maps.Marker({
          position: defult,
          raiseOnDrag: false,
          icon: image,
          map: map,
          draggable: false
        }));
      }
      function initialize() {
        var mapOptions = {
          backgroundColor: "#ffffff",
          zoom: 15,
          disableDefaultUI: true,
          center: mapCoordinates,
          zoomControl: false,
          scaleControl: false,
          scrollwheel: false,
          disableDoubleClickZoom: true,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles: [{
            "featureType": "landscape.natural",
            "elementType": "geometry.fill",
            "stylers": [{
              "color": "#ffffff"
            }
                       ]
          }
                   , {
                     "featureType": "landscape.man_made",
                     "stylers": [{
                       "color": "#ffffff"
                     }
                                 , {
                                   "visibility": "off"
                                 }
                                ]
                   }
                   , {
                     "featureType": "water",
                     "stylers": [{
                       "color": "#80C8E5"
                     }
                                 , {
                                   "saturation": 0
                                 }
                                ]
                   }
                   , {
                     "featureType": "road.arterial",
                     "elementType": "geometry",
                     "stylers": [{
                       "color": "#999999"
                     }
                                ]
                   }
                   , {
                     "elementType": "labels.text.stroke",
                     "stylers": [{
                       "visibility": "off"
                     }
                                ]
                   }
                   , {
                     "elementType": "labels.text",
                     "stylers": [{
                       "color": "#333333"
                     }
                                ]
                   }

                   , {
                     "featureType": "road.local",
                     "stylers": [{
                       "color": "#dedede"
                     }
                                ]
                   }
                   , {
                     "featureType": "road.local",
                     "elementType": "labels.text",
                     "stylers": [{
                       "color": "#666666"
                     }
                                ]
                   }
                   , {
                     "featureType": "transit.station.bus",
                     "stylers": [{
                       "saturation": -57
                     }
                                ]
                   }
                   , {
                     "featureType": "road.highway",
                     "elementType": "labels.icon",
                     "stylers": [{
                       "visibility": "off"
                     }
                                ]
                   }
                   , {
                     "featureType": "poi",
                     "stylers": [{
                       "visibility": "off"
                     }
                                ]
                   }

                  ]

        }
            ;
        map = new google.maps.Map(document.getElementById('google-map'), mapOptions);
        addMarker();

      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
