{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block body %}
    <div class="page-header" style="background: url({% static 'frontend/img/banner1.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="page-title">Upcoming Projects</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main-container section">
        <div class="container">
            <div class="row">
{#                <div class="col-md-3 col-xs-12 widget-area-sidebar">#}
{#                    <div class="sidebar-inner">#}
{#                        <div class="widget-container">#}
{#                            <h3 class="title-sidebar">Advanced Search</h3>#}
{#                            <form class="" method="get">#}
{#                                <select class="selectpicker">#}
{#                                    <option value="0">All Actions</option>#}
{#                                    <option class="rentals">Rentals(15)</option>#}
{#                                    <option value="sales">Sales(17)</option>#}
{#                                </select>#}
{#                                <select class="selectpicker">#}
{#                                    <option value="0">All Types</option>#}
{#                                    <option value="apartments">Apartments (2)</option>#}
{#                                    <option value="condos">Condos (1)</option>#}
{#                                    <option value="houses">Houses (2)</option>#}
{#                                    <option value="industrial">Industrial (1)</option>#}
{#                                    <option value="land">Land (2)</option>#}
{#                                    <option value="offices">Offices (1)</option>#}
{#                                    <option value="retail">Retail (2)</option>#}
{#                                    <option value="villas">Villas (1)</option>#}
{#                                </select>#}
{#                                <select class="selectpicker">#}
{#                                    <option>All Cities</option>#}
{#                                    <option>New York</option>#}
{#                                    <option>California</option>#}
{#                                    <option>Washington</option>#}
{#                                    <option>Birmingham</option>#}
{#                                    <option>Chicago</option>#}
{#                                    <option>Phoenix</option>#}
{#                                </select>#}
{#                                <select class="selectpicker">#}
{#                                    <option>All Areas</option>#}
{#                                    <option>Calais (1)</option>#}
{#                                    <option>Clape-en-bas(2)</option>#}
{#                                    <option>La Villette (1)</option>#}
{#                                    <option>La Touquet (2)</option>#}
{#                                    <option>Notre Dame (5)</option>#}
{#                                    <option>Saint Germain (3)</option>#}
{#                                </select>#}
{#                                <select class="selectpicker">#}
{#                                    <option>Bedrooms</option>#}
{#                                    <option>1</option>#}
{#                                    <option>2</option>#}
{#                                    <option>3</option>#}
{#                                    <option>4</option>#}
{#                                    <option>5</option>#}
{#                                    <option>6</option>#}
{#                                    <option>7</option>#}
{#                                    <option>8</option>#}
{#                                    <option>9</option>#}
{#                                    <option>10</option>#}
{#                                </select>#}
{#                                <select class="selectpicker">#}
{#                                    <option>Bathrooms</option>#}
{#                                    <option>1</option>#}
{#                                    <option>2</option>#}
{#                                    <option>3</option>#}
{#                                    <option>4</option>#}
{#                                    <option>5</option>#}
{#                                    <option>5</option>#}
{#                                    <option>6</option>#}
{#                                    <option>7</option>#}
{#                                    <option>8</option>#}
{#                                    <option>9</option>#}
{#                                    <option>10</option>#}
{#                                </select>#}
{#                                <select class="selectpicker">#}
{#                                    <option>Mustard</option>#}
{#                                    <option>Ketchup</option>#}
{#                                    <option>Relish</option>#}
{#                                </select>#}
{#                            </form>#}
{#                            <button type="submit" class="btn btn-common btn-sh">Search Now</button>#}
{#                        </div>#}
{#                        <div class="widget-container latest-listings">#}
{#                            <h3 class="title-sidebar">Latest Listings</h3>#}
{#                            <ul class="posts-list">#}
{#                                <li>#}
{#                                    <div class="widget-thumb">#}
{#                                        <a href="#"><img src="{% static 'img/blog/p1.png' %}" alt=""/></a>#}
{#                                    </div>#}
{#                                    <div class="widget-content">#}
{#                                        <a href="#">Villa On Washington Ave</a>#}
{#                                        <span>$ 5,500,000 </span>#}
{#                                    </div>#}
{#                                    <div class="clearfix"></div>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <div class="widget-thumb">#}
{#                                        <a href="#"><img src="{% static 'img/blog/p2.png' %}" alt=""/></a>#}
{#                                    </div>#}
{#                                    <div class="widget-content">#}
{#                                        <a href="#">Villa On Washington Ave</a>#}
{#                                        <span>$ 5,500,000 </span>#}
{#                                    </div>#}
{#                                    <div class="clearfix"></div>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <div class="widget-thumb">#}
{#                                        <a href="#"><img src="{% static 'img/blog/p3.png' %}" alt=""/></a>#}
{#                                    </div>#}
{#                                    <div class="widget-content">#}
{#                                        <a href="#">Villa On Washington Ave</a>#}
{#                                        <span>$ 5,500,000 </span>#}
{#                                    </div>#}
{#                                    <div class="clearfix"></div>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <div class="widget-thumb">#}
{#                                        <a href="#"><img src="{% static 'img/blog/p4.png' %}" alt=""/></a>#}
{#                                    </div>#}
{#                                    <div class="widget-content">#}
{#                                        <a href="#">Villa On Washington Ave</a>#}
{#                                        <span>$ 5,500,000 </span>#}
{#                                    </div>#}
{#                                    <div class="clearfix"></div>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <div class="widget-thumb">#}
{#                                        <a href="#"><img src="{% static 'img/blog/p5.png' %}" alt=""/></a>#}
{#                                    </div>#}
{#                                    <div class="widget-content">#}
{#                                        <a href="#">Villa On Washington Ave</a>#}
{#                                        <span>$ 5,500,000 </span>#}
{#                                    </div>#}
{#                                    <div class="clearfix"></div>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <div class="widget-container widget-featured">#}
{#                            <h3 class="title-sidebar">Featured Properties</h3>#}
{#                            <div id="post-carousel" class="post-slide owl-carousel" data-slider-pagination="true">#}
{#                                <div class="item">#}
{#                                    <div class="widget-img">#}
{#                                        <img src="{% static 'img/blog/img1.jpg' %}" alt="">#}
{#                                        <div class="text">#}
{#                                            <p>California Residence</p>#}
{#                                            <span>$3000.000.00</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="item">#}
{#                                    <div class="widget-img">#}
{#                                        <img src="{% static 'img/blog/img2.jpg' %}" alt="">#}
{#                                        <div class="text">#}
{#                                            <p>2479 Murphy Court</p>#}
{#                                            <span>$2900.000</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="item">#}
{#                                    <div class="widget-img">#}
{#                                        <img src="{% static 'img/blog/img3.jpg' %}" alt="">#}
{#                                        <div class="text">#}
{#                                            <p>2186 Rinehart Road</p>#}
{#                                            <span>$2000.000.00</span>#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
                <div class="col-md-9 col-xs-12 page-content">

                    <div class="product-filter">
                        <div class="title-listing">
                            <h2>Project Listing</h2>
                        </div>
                        <div class="Show-item">
                            <div class="grid-list-count">
                                <a class="grid switchToList" href="#"><i class="fas fa-th-large"></i></a>
                                <a class="list switchToGrid active" href="#"><i class="fas fa-list-ul"></i></a>
                            </div>
                            {#                            <span>Sort By:</span>#}
                            {#                            <form class="woocommerce-ordering" method="post">#}
                            {#                                <label>#}
                            {#                                    <select class="selectpicker">#}
                            {#                                        <option selected="selected" value="menu-order">Newest First</option>#}
                            {#                                        <option>Lowest price first</option>#}
                            {#                                        <option>Highest price first</option>#}
                            {#                                        <option>Date added</option>#}
                            {#                                    </select>#}
                            {#                                </label>#}
                            {#                            </form>#}
                        </div>
                    </div>


                    <div class="adds-wrapper">
                        {% for project in object_list %}
                            <div class="item-list">
                                <div class="property-item table-list">
                                    <div class="table-cell">
                                        <figure class="item-thumb">
                                            <a class="hover-effect" href="property.html">
                                                <img src="{{ '/' }}{{ project.master_picture }}" alt="" width="270px"
                                                     height="200px">
                                            </a>
                                            <span class="label-featured">
                                                 {% if project.category == "1" %}
                                                     Upcoming
                                                 {% elif project.category == "2" %}
                                                     In progress
                                                 {% else %}
                                                     Completed
                                                 {% endif %}
                                            </span>
                                        </figure>
                                    </div>
                                    <div class="item-body table-cell">
                                        <h3 class="property-title"><a
                                                href="/project/{{ project.slug }}">{{ project.project_name }}</a>
                                        </h3>
                                        <div class="info">
                                            <p>
                                                <span>Worker: {{ project.worker }}</span><span>Budget: {{ project.budget|floatformat:2 }}</span><span></span>
                                            </p>
                                            <p>
                                                <span>Start date: {{ project.start_date }}</span>
                                                <span>End date: {{ project.end_date }}</span>
                                            </p>
                                        </div>
                                        <span class="prop-user-agent"><i class="far fa-user"></i> <a
                                                href="#" data-toggle="tooltip" data-placement="top"
                                                title="Conductor">{{ project.conductor.first_name }} {{ project.conductor.last_name }}</a></span>
                                        <span class="prop-user-agent"><i class="far fa-user"></i> <a
                                                href="#" data-toggle="tooltip" data-placement="top"
                                                title="Engineer">{{ project.engineer.first_name }} {{ project.engineer.last_name }}</a></span>
                                        <p><span class="prop-user-agent"><i
                                                class="far fa-clock"></i></span> {{ project.created_at }}</p>
                                    </div>
                                    <div class="body-right table-cell hidden-gird-cell">
                                        <div class="info-row">
                                            <span class="item-price">{{ project.budget|floatformat:2 }}</span>
                                        </div>
                                        <div class="info-row button text-right">
                                            <a href="/project/{{ project.slug }}" class="btn btn-common">Details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="pagination-bar">
                        <ul class="pagination">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a class="pagination-btn" href="#">Next »</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}