{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Bootstrap 4 Admin Template">
    <meta name="author" content="Bootlab">
    <title>NSTU</title>
    <link href="{% static 'backend/css/app.css' %}" rel="stylesheet">
    <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="d-flex">
        <nav class="sidebar">
            <a class="sidebar-brand" href="/admin">
                <i class="align-middle" data-feather="book-open"></i>
                <span class="align-middle">NSTU</span>
            </a>
            <ul class="sidebar-nav">
                <li class="sidebar-header">
                    Main
                </li>
                <li class="sidebar-item active">
                    <a href="/admin/" class="sidebar-link">
                        <i class="align-middle" data-feather="sliders"></i>
                        <span class="align-middle">Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="#accounts" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle" data-feather="users"></i>
                        <span class="align-middle">Accounts</span>
                    </a>
                    <ul id="accounts" class="sidebar-dropdown list-unstyled collapse ">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/admin/add">Add Admin</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/admin/list">Admin List</a>
                        </li>
                        <hr>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/user/add">Add User</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/user/list">User List</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#projects" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle" data-feather="book"></i>
                        <span class="align-middle">Projects</span>
                    </a>
                    <ul id="projects" class="sidebar-dropdown list-unstyled collapse ">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/project/add">Add Project</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/project/list">Project List</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#notices" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle" data-feather="list"></i>
                        <span class="align-middle">Notices</span>
                    </a>
                    <ul id="notices" class="sidebar-dropdown list-unstyled collapse ">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/notice/add">Add Notice</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/notice/list">Notice List</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-item">
                    <a href="#website_setting" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle" data-feather="book"></i>
                        <span class="align-middle">Website Setting</span>
                    </a>
                    <ul id="website_setting" class="sidebar-dropdown list-unstyled collapse ">
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="nstu_visitor_contact.html">Visitor Contact</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/setting/basic_info/add/">Basic Information Add</a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="/admin/setting/basic_info/list/">Basic Information View</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>


        <div class="main">
            <nav class="navbar navbar-expand navbar-light bg-white">
                <a class="sidebar-toggle d-flex mr-2">
                    <i class="hamburger align-self-center"></i>
                </a>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-toggle="dropdown">
                  <span class="d-inline-block d-md-none">
                  <i class="align-middle" data-feather="settings"></i>
                  </span>
                                <span class="d-none d-sm-inline-block">
                  <img src="{% static 'backend/img/avatar.jpg' %}" class="avatar img-fluid rounded-circle mr-1"
                       alt="Chris Wood"/>
                  <span class="font-weight-bold text-dark">{{ request.user.username }}</span>
                  </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="align-middle mr-1" data-feather="user"></i> Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/admin/logout">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <main class="content">
                {% block body %}
                {% endblock %}
            </main>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-left">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Privacy</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="#">Terms of Service</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-6 text-right">
                            <p class="mb-0">
                                &copy; 2018 -
                                <a href="base.html" class="text-muted">NSTU</a>
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>


    </div>
</div>
<script src="{% static 'backend/js/app.js' %}"></script>
<script src="{% static 'backend/js/charts.js' %}"></script>
<script src="{% static 'backend/js/forms.js' %}"></script>
<script src="{% static 'backend/js/maps.js' %}"></script>
<script src="{% static 'backend/js/tables.js' %}"></script>
</body>
</html>
