{% extends 'backend/base.html' %}
{% load static %}
{% block body %}
    <div class="container-fluid p-0">
        <div class="clearfix">
            <h1 class="h3 mb-3">Dashboard</h1>
        </div>
        <div class="row">
            <div class="col-12 col-md-8 col-xl d-flex">
                <div class="card flex-fill">
                    <div class="card-body py-2">
                        <div class="row">
                            <div class="col-12 col-md-8 align-self-center text-center text-md-left">
                                <h1>{{ total_projects }}</h1>
                                <p class="mb-0">Total Projects</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 col-xl d-flex">
                <div class="card flex-fill">
                    <div class="card-body py-2">
                        <div class="row">
                            <div class="col-12 col-md-8 align-self-center text-center text-md-left">
                                <h1>543</h1>
                                <p class="mb-0">Visitors Today</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 col-xl d-flex">
                <div class="card flex-fill">
                    <div class="card-body py-2">
                        <div class="row">
                            <div class="col-12 col-md-8 align-self-center text-center text-md-left">
                                <h1>{{ total_users }}</h1>
                                <p class="mb-0">Total Users</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-8 col-xl d-flex">
                <div class="card flex-fill">
                    <div class="card-body py-2">
                        <div class="row">
                            <div class="col-12 col-md-8 align-self-center text-center text-md-left">
                                <h1>{{ total_notices }}</h1>
                                <p class="mb-0">Total Notices</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Total Visitors</h5>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="chartjs-dashboard-line"></canvas>
                        </div>
                    </div>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function (event) {
                        // Line chart
                        new Chart(document.getElementById("chartjs-dashboard-line"), {
                            type: 'line',
                            data: {
                                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                                datasets: [{
                                    // label: "Sales ($)",
                                    // fill: true,
                                    backgroundColor: "transparent",
                                    borderColor: "#0cc2aa",
                                    data: [2015, 0, 0, 1796, 1387, 0, 2866, 2548, 3902, 4938, 0, 4927]
                                },]
                            },
                            options: {
                                maintainAspectRatio: false,
                                legend: {
                                    display: false
                                },
                                tooltips: {
                                    intersect: false
                                },
                                hover: {
                                    intersect: true
                                },
                                plugins: {
                                    filler: {
                                        propagate: false
                                    }
                                },
                                scales: {
                                    xAxes: [{
                                        reverse: true,
                                        gridLines: {
                                            color: "rgba(0,0,0,0.05)"
                                        }
                                    }],
                                    yAxes: [{
                                        ticks: {
                                            stepSize: 500
                                        },
                                        display: true,
                                        borderDash: [5, 5],
                                        gridLines: {
                                            color: "rgba(0,0,0,0)",
                                            fontColor: "#fff"
                                        }
                                    }]
                                }
                            }
                        });
                    });
                </script>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Latest Notices</h5>
                    </div>
                    <table id="datatables-notices" class="table table-striped my-0">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Published Date</th>
                            <th class="d-none d-md-table-cell">Category</th>
                            <th>View</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for notice in newest_notices %}
                            <tr>
                                <td>{{ notice.title }}</td>
                                <td class="d-none d-xl-table-cell">{{ notice.published_date }}</td>
                                <td>
                                    {% if notice.attachment %}
                                        <a href="{{ '/' }}{{ notice.attachment }}" class="btn btn-sm btn-success"><i
                                                class="fa fa-paperclip" aria-hidden="true"></i>
                                            Download</a>
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td class="d-none d-md-table-cell"><a href="/admin/notice/edit/{{ notice.id }}"
                                                                      data-toggle="tooltip" data-placement="top"
                                                                      title="Edit">
                                    <i class="align-middle" data-feather="edit"></i>
                                </a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function (event) {
                        $('#datatables-notices').DataTable({
                            pageLength: 5,
                            lengthChange: false,
                            bFilter: false,
                            autoWidth: false,
                            paging: false,
                            info: false
                        });
                    });
                </script>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-8 col-xxl-9 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Latest Projects</h5>
                    </div>
                    <table id="datatables-dashboard" class="table table-striped my-0">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th class="d-none d-xl-table-cell">Start Date</th>
                            <th class="d-none d-xl-table-cell">End Date</th>
                            <th>Category</th>
                            <th class="d-none d-md-table-cell">Conductor</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in newest_projects %}
                            <tr>
                                <td>{{ project.project_name }}</td>
                                <td class="d-none d-xl-table-cell">{{ project.start_date }}</td>
                                <td class="d-none d-md-table-cell">{{ project.end_date }}</td>
                                <td>
                                    <span class="badge badge-success">{{ project.category }}</span>
                                </td>
                                <td>{{ project.user.first_name }} {{ project.user.last_name }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <script>
                    document.addEventListener("DOMContentLoaded", function (event) {
                        $('#datatables-dashboard').DataTable({
                            pageLength: 10,
                            lengthChange: false,
                            bFilter: false,
                            autoWidth: false,
                            paging: false,
                            info: false
                        });
                    });
                </script>
            </div>
            <div class="col-12 col-lg-4 col-xxl-3 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Newest Users</h5>
                    </div>
                    <div class="card-body">
                        {% for user in newest_users %}
                            <div class="media mb-4">
                                <img src="{% static 'backend/img/avatar-5.jpg' %}" width="64" height="64"
                                     class="rounded-circle mr-2" alt="32">
                                <div class="media-body">
                                    <span class="d-block text-primary">{{ user.first_name }} {{ user.last_name }}</span>
                                    <h5 class="my-1">{{ user.profile.designation }}</h5>
                                    <span class="d-block text-muted">{{ user.email }}</span>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}