{% extends 'backend/base.html' %}
{% block body %}
    <div class="container-fluid p-0">
        <div class="clearfix">
            <h1 class="h3 mb-3">Basic Information</h1>
        </div>
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Address</th>
                            <th>About us</th>
                            <th>Latitude</th>
                            <th class="d-none d-md-table-cell" style="width:10%">Longitude</th>
                            <th class="d-none d-md-table-cell" style="width:10%">Phone number</th>
                            <th>logo</th>
                            <th>Favicon</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for bi in object_list %}
                        <tr>
                            <td>{{ bi.address }}</td>
                            <td>{{ bi.about_us|safe|truncatechars:100 }}</td>
                            <td class="d-none d-md-table-cell">{{ bi.latitude }}</td>
                            <td class="d-none d-md-table-cell">{{ bi.longitude }}</td>
                            <td class="d-none d-md-table-cell">{{ bi.phone_number }}</td>
                            <td class="d-none d-md-table-cell">
                                <img src="{{ '/' }}{{ bi.logo }}" width="80" height="80" alt="">
                            </td>
                            <td class="d-none d-md-table-cell">
                                <img src="{{ '/' }}{{ bi.favicon }}" width="80" height="80" alt="">
                            </td>
                            <td class="table-action">
{#                                <a href="#" data-toggle="tooltip" data-placement="top" title="View">#}
                                {#                                    <i class="align-middle" data-feather="eye"></i>#}
                                {#                                </a>#}
                                <a href="/admin/setting/basic_info/edit/{{ bi.id }}" data-toggle="tooltip" data-placement="top"
                                   title="Edit">
                                    <i class="align-middle" data-feather="edit"></i>
                                </a>
                                <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Delete">
                                  <i class="align-middle" data-feather="trash"></i>
                                </a> -->
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}