{% extends 'backend/base.html' %}
{% load static %}
{% block body %}
    <div class="container-fluid p-0">
        <div class="clearfix">
            <h1 class="h3 mb-3">Add Basic Information</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form id="validation-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                        <div class="alert-message">
                                            <strong>{{ message }}</strong>
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {{ form.non_field_errors }}

                            <div class="form-group">
                                <label for="address" class="form-label"> Address</label>
                                <input type="text" class="form-control" id="address" name="address"
                                       placeholder="Enter address">
                                <small class="form-text text-muted">Address length must be 200 characters or fewer.
                                </small>
                                <span class="text-danger">{{ form.address.errors }}</span>
                            </div>

                            <div class="form-group">
                                <label for="email" class="form-label"> Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                       placeholder="Enter email">
                                <small class="form-text text-muted">Email length must be 100 characters or fewer.
                                </small>
                                <span class="text-danger">{{ form.address.errors }}</span>
                            </div>

                            <div class="form-group">
                                <label for="about_us" class="form-label"> About us</label>
                                <textarea name="about_us" class="editor" placeholder="Type something"></textarea>
                                <script>
                                    ClassicEditor.create(document.querySelector('.editor'));
                                </script>
                                <small class="form-text text-muted">About us length must be between 20 to 10000
                                    characters.
                                </small>
                                <span class="text-danger">{{ form.about_us.errors }}</span>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="latitude" class="form-label">Latitude</label>
                                    <input type="text" class="form-control" id="latitude" name="latitude"
                                           placeholder="Enter latitude">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="longitude" class="form-label">Longitude</label>
                                    <input type="text" class="form-control" id="longitude" name="longitude"
                                           placeholder="Enter logitude">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="phone_number" class="form-label"> Phone number</label>
                                <input type="text" class="form-control" id="phone_number" name="phone_number"
                                       placeholder="Enter phone number">
                                <small class="form-text text-muted">Phone number length must be 15 digits or fewer.
                                </small>
                                <span class="text-danger">{{ form.phone_number.errors }}</span>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="form-label w-100">Logo</label>
                                    <input type="file" accept="image/*" name="logo">
                                    <small class="form-text text-muted">Must be valid image format</small>
                                </div>

                                <div class="form-group col-md-6">
                                    <label class="form-label w-100">Favicon</label>
                                    <input type="file" accept="image/*" name="favicon">
                                    <small class="form-text text-muted">Must be valid image format</small>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <script>
                            document.addEventListener("DOMContentLoaded", function (event) {

                                // Initialize validation
                                $('#validation-form').validate({
                                    ignore: '.ignore, .select2-input',
                                    focusInvalid: false,
                                    rules: {
                                        'address': {
                                            required: true,
                                            maxlength: 200
                                        },
                                        'about_us': {
                                            required: true,
                                            minlength: 20,
                                            maxlength: 10000
                                        },
                                        'latitude': {
                                            required: true
                                        },
                                        'longitude': {
                                            required: true
                                        },
                                        'phone_number': {
                                            required: true,
                                            maxlength: 15
                                        }
                                    },
                                    // Errors
                                    errorPlacement: function errorPlacement(error, element) {
                                        var $parent = $(element).parents('.form-group');
                                        // Do not duplicate errors
                                        if ($parent.find('.jquery-validation-error').length) {
                                            return;
                                        }
                                        $parent.append(
                                            error.addClass('jquery-validation-error small form-text invalid-feedback')
                                        );
                                    },
                                    highlight: function (element) {
                                        var $el = $(element);
                                        var $parent = $el.parents('.form-group');
                                        $el.addClass('is-invalid');
                                        // Select2 and Tagsinput
                                        if ($el.hasClass('select2-hidden-accessible') || $el.attr('data-role') === 'tagsinput') {
                                            $el.parent().addClass('is-invalid');
                                        }
                                    },
                                    unhighlight: function (element) {
                                        $(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}