{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block body %}
    <div class="page-header" style="background: url({% static 'frontend/img/banner1.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="page-title">Notices</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="contact section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="list-group">
                        {% for notice in object_list %}
                            <a class="list-group-item" href="/notice/details/{{ notice.id }}">
                                {{ notice.title }} ({{ notice.published_date }})
                            </a>
                        {% endfor %}
                    </ul>

                    {% if is_paginated %}
                        <ul class="pagination">
                            {% if page_obj.has_previous %}
                                <li>
                                    <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
                                </li>
                            {% endif %}
                            <li class="">
                                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                            </li>
                            {% if page_obj.has_next %}
                                <li>
                                    <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
                                </li>
                            {% endif %}
                        </ul>
                    {% else %}
                        <h3>Your File Exam</h3>
                        <p>File not yet available</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}