{% extends 'backend/base.html' %}
{% block body %}
    <div class="container-fluid p-0">
        <div class="clearfix">
            <a href="/admin/project/add" class="btn btn-primary form-inline float-right mt--1 d-none d-md-flex"> <i
                    class="align-middle" data-feather="plus"></i> &nbsp; Add New Project</a>
            <h1 class="h3 mb-3">Project List</h1>
        </div>
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 20%;">Name</th>
                            <th style="width:15%">Conductor</th>
                            <th style="width:15%">Engineer</th>
                            <th class="d-none d-md-table-cell" style="width:10%">Budget</th>
                            <th class="d-none d-md-table-cell" style="width:10%">Category</th>
                            <th style="width:15%">Start date</th>
                            <th style="width:15%">End date</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for project in object_list %}
                        <tr>
                            <td>{{ project.project_name }}</td>
                            <td>{{ project.engineer.first_name }} {{ project.engineer.last_name }}</td>
                            <td class="d-none d-md-table-cell">{{ project.engineer.first_name }} {{ project.engineer.last_name }}</td>
                            <td class="d-none d-md-table-cell">{{ project.budget }}</td>
                            <td class="d-none d-md-table-cell"><span class="badge badge-success">{{ project.category }}</span></td>
                            <td class="d-none d-md-table-cell">{{ project.start_date }}</td>
                            <td class="d-none d-md-table-cell">{{ project.end_date }}</td>
                            <td class="table-action">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="View">
                                    <i class="align-middle" data-feather="eye"></i>
                                </a>
                                <a href="/admin/project/edit/{{ project.slug }}" data-toggle="tooltip" data-placement="top"
                                   title="Edit">
                                    <i class="align-middle" data-feather="edit"></i>
                                </a>
                                <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Delete">
                                  <i class="align-middle" data-feather="trash"></i>
                                </a> -->
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}