{% extends 'backend/base.html' %}
{% block body %}
    <div class="container-fluid p-0">
        <div class="clearfix">
            <a href="/admin/project/list" class="btn btn-primary form-inline float-right mt--1 d-none d-md-flex"> <i
                    class="align-middle" data-feather="list"></i> &nbsp; Project List</a>
            <h1 class="h3 mb-3">Update Project (work in progress)</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form id="validation-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                        <div class="alert-message">
                                            <strong>{{ message }}</strong>
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {{ form.non_field_errors }}
                            <div class="form-group">
                                <label for="project_name" class="form-label"> Name</label>
                                <input type="text" class="form-control" id="project_name" name="project_name"
                                       placeholder="Enter project name" value="{{ object.project_name }}">
                                <small class="form-text text-muted">Project name length must be 200 characters or
                                    fewer.
                                </small>
                                <span class="text-danger">{{ form.project_name.errors }}</span>
                            </div>

                            <div class="form-group">
                                <label for="project_name" class="form-label"> Description</label>
                                <textarea name="description" class="editor" placeholder="Type something" value="{{ object.description }}">{{ object.description }}</textarea>
                                <script>
                                    ClassicEditor.create(document.querySelector('.editor'));
                                </script>
                                <small class="form-text text-muted">Project description length must be between 20 to
                                    2000 characters or fewer.
                                </small>
                                <span class="text-danger">{{ form.description.errors }}</span>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="worker" class="form-label">Number of worker</label>
                                    <input type="text" class="form-control" id="worker" name="worker"
                                           placeholder="Enter number of worker"  value="{{ object.worker }}">
                                    <small class="form-text text-muted">Worker number should be whole number.</small>
                                    <span class="text-danger">{{ form.worker.errors }}</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="budget" class="form-label">Budget</label>
                                    <input type="text" class="form-control" id="budget" name="budget"
                                           placeholder="Enter budget" value="{{ object.budget }}">
                                    <span class="text-danger">{{ form.budget.errors }}</span>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="engineer" class="form-label">Engineer</label>
                                    <select class="form-control select2" id="engineer" data-toggle="select2"
                                            name="engineer">
                                        {% for user in users %}
                                            <option value="{{ user.id }}"
                                                    {% if user.id == object.engineer.id %}selected="selected"{% endif %}>
                                                {{ user.first_name }} {{ user.last_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <span class="text-danger">{{ form.engineer.errors }}</span>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="conductor" class="form-label">Conductor</label>
                                    <select class="form-control select2" id="conductor" data-toggle="select2"
                                            name="conductor">
                                        {% for user in users %}
                                            <option value="{{ user.id }}" {% if user.id == object.conductor.id %}selected="selected"{% endif %}>{{ user.first_name }} {{ user.last_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <span class="text-danger">{{ form.conductor.errors }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="category" class="form-label">Category</label>
                                <select class="form-control mb-3" id="category" name="category">
                                    <option value="1" {% if "1" == object.category %}selected="selected"{% endif %}>Upcoming</option>
                                    <option value="2" {% if "2" == object.category %}selected="selected"{% endif %}>In progress</option>
                                    <option value="3" {% if "3" == object.category %}selected="selected"{% endif %}>Completed</option>
                                </select>
                                <span class="text-danger">{{ form.category.errors }}</span>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="start_date" class="form-label">Start date</label>
                                    <input class="form-control" type="text" name="start_date" value="{{ object.start_date.strftime }}"/>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="end_date" class="form-label">End date</label>
                                    <input class="form-control" type="text" name="end_date" value="{{ object.end_date.strftime }}"/>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="latitude" class="form-label">Latitude</label>
                                    <input type="text" class="form-control" id="latitude" name="latitude"
                                           placeholder="Enter latitude" value="{{ object.latitude }}">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="longitude" class="form-label">Longitude</label>
                                    <input type="text" class="form-control" id="longitude" name="longitude"
                                           placeholder="Enter logitude" value="{{ object.longitude }}">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="administrator" class="form-label"> Administrator</label>
                                <input type="text" class="form-control" id="administrator" name="administrator"
                                       placeholder="Enter administrator"  value="{{ object.administrator }}">
                                <small class="form-text text-muted">Administrator legnth must be 100 characters or
                                    fewer.
                                </small>
                            </div>

                            <div class="form-group">
                                <label class="form-label w-100">Master picture</label>
                                <input type="file" accept="image/*" name="master_picture">
                                <small class="form-text text-muted">Must be valid image format</small>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <label class="form-label w-100">Picture</label>
                                    <input type="file" accept="image/*" name="picture1">
                                    <small class="form-text text-muted">Must be valid image format</small>
                                </div>

                                <div class="form-group col-md-3">
                                    <label class="form-label w-100">Picture</label>
                                    <input type="file" accept="image/*" name="picture2">
                                    <small class="form-text text-muted">Must be valid image format</small>
                                </div>

                                <div class="form-group col-md-3">
                                    <label class="form-label w-100">Picture</label>
                                    <input type="file" accept="image/*" name="picture3">
                                    <small class="form-text text-muted">Must be valid image format</small>
                                </div>

                                <div class="form-group col-md-3">
                                    <label class="form-label w-100">Picture</label>
                                    <input type="file" accept="image/*" name="picture4">
                                    <small class="form-text text-muted">Must be valid image format</small>
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                        <script>
                            document.addEventListener("DOMContentLoaded", function (event) {

                                // moment
                                $('input[name="start_date"]').daterangepicker({
                                    singleDatePicker: true,
                                    showDropdowns: true
                                });

                                $('input[name="end_date"]').daterangepicker({
                                    singleDatePicker: true,
                                    showDropdowns: true
                                });


                                //select2
                                $('.select2').each(function () {
                                    $(this)
                                        .wrap('<div class="position-relative"></div>')
                                        .select2({
                                            placeholder: 'Select value',
                                            dropdownParent: $(this).parent()
                                        });
                                })
                                // Initialize Select2 select box
                                $('select[name="validation-select2"]').select2({
                                    allowClear: true,
                                    placeholder: 'Select gear...',
                                }).change(function () {
                                    $(this).valid();
                                });

                                // Initialize validation
                                $('#validation-form').validate({
                                    ignore: '.ignore, .select2-input',
                                    focusInvalid: false,
                                    rules: {
                                        'project_name': {
                                            required: true,
                                            maxlength: 200
                                        },
                                        'description': {
                                            required: true,
                                            minlength: 20,
                                            maxlength: 2000
                                        },
                                        'worker': {
                                            required: true,
                                            number: true
                                        },
                                        'engineer': {
                                            required: true
                                        },
                                        'conductor': {
                                            required: true
                                        },
                                        'budget': {
                                            required: true
                                        },
                                        'category': {
                                            required: true
                                        },
                                        'administrator': {
                                            required: true,
                                            maxlength: 100
                                        }
                                    },
                                    // Errors
                                    errorPlacement: function errorPlacement(error, element) {
                                        var $parent = $(element).parents('.form-group');
                                        // Do not duplicate errors
                                        if ($parent.find('.jquery-validation-error').length) {
                                            return;
                                        }
                                        $parent.append(
                                            error.addClass('jquery-validation-error small form-text invalid-feedback')
                                        );
                                    },
                                    highlight: function (element) {
                                        var $el = $(element);
                                        var $parent = $el.parents('.form-group');
                                        $el.addClass('is-invalid');
                                        // Select2 and Tagsinput
                                        if ($el.hasClass('select2-hidden-accessible') || $el.attr('data-role') === 'tagsinput') {
                                            $el.parent().addClass('is-invalid');
                                        }
                                    },
                                    unhighlight: function (element) {
                                        $(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}