{% extends 'backend/base.html' %}
{% block body %}

    <div class="container-fluid p-0">
        <div class="clearfix">
            <a href="/admin/user/add" class="btn btn-primary form-inline float-right mt--1 d-none d-md-flex"> <i
                    class="align-middle" data-feather="user-plus"></i> &nbsp; Add New User</a>
            <h1 class="h3 mb-3">User List</h1>
        </div>
        <div class="row">
            <div class="col-12 col-xl-12">
                <div class="card">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th style="width: 20%;">Full name</th>
                            <th style="width:15%">Username</th>
                            <th class="d-none d-md-table-cell" style="width:25%">Email</th>
                            <th style="width:20%">Phone number</th>
                            <th style="width:10%">Designation</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                        <tr>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                            <td>{{ user.username }}</td>
                            <td class="d-none d-md-table-cell">{{ user.email }}</td>
                            <td class="d-none d-md-table-cell">{{ user.profile.phone_number }}</td>
                            <td class="d-none d-md-table-cell">{{ user.profile.designation }}</td>
                            <td class="table-action">
                                <a href="/admin/user/detail/{{ user.username }}" data-toggle="tooltip" data-placement="top"
                                   title="View">
                                    <i class="align-middle" data-feather="eye"></i>
                                </a>
                                <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Edit">
                                  <i class="align-middle" data-feather="edit"></i>
                                </a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Delete">
                                  <i class="align-middle" data-feather="trash"></i>
                                </a> -->
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}