{% extends 'backend/base.html' %}
{% block body %}
    <div class="container-fluid p-0">
        <div class="clearfix">
            <a href="/admin/user/list" class="btn btn-primary form-inline float-right mt--1 d-none d-md-flex"> <i
                    class="align-middle" data-feather="list"></i> &nbsp User List</a>
            <h1 class="h3 mb-3">Add New User</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form id="validation-form" method="post">
                            {% csrf_token %}

                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                        <div class="alert-message">
                                            <strong>{{ message }}</strong>
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {{ form.non_field_errors }}
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="first_name" class="form-label">First name</label>
                                    <input type="text" class="form-control" id="first_name" name="first_name"
                                           placeholder="Enter first name">
                                    <small class="form-text text-muted">First name legnth must be 30 characters or
                                        fewer.
                                    </small>
                                    <span class="text-danger">{{ form.first_name.errors }}</span>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="last_name" class="form-label">Last name</label>
                                    <input type="text" class="form-control" id="last_name" name="last_name"
                                           placeholder="Enter last name">
                                    <small class="form-text text-muted">Last name length must be 150 characters or
                                        fewer.
                                    </small>
                                    <span class="text-danger">{{ form.last_name.errors }}</span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label id="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email"
                                       placeholder="Enter email">
                                <span class="text-danger">{{ form.email.errors }}</span>
                            </div>

                            <div class="form-group">
                                <label id="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username" name="username"
                                       placeholder="Enter username">
                                <small class="form-text text-muted">Username legnth must be 150 characters or fewer and
                                    may contain alphanumeric, _, @, +, . and - characters.
                                </small>
                                <span class="text-danger">{{ form.username.errors }}</span>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="password1" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password1" name="password1"
                                           placeholder="Enter password">
                                    <small class="form-text text-muted">Password must contain uppercase, lowecase
                                        characters, digit and minimum length of 8.
                                    </small>
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="password2" class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" id="password2" name="password2"
                                           placeholder="Confirm password">
                                </div>
                                <span class="text-danger">{{ form.password2.errors }}</span>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>

                        <script>
                            document.addEventListener("DOMContentLoaded", function (event) {
                                // Initialize validation
                                $('#validation-form').validate({
                                    ignore: '.ignore, .select2-input',
                                    focusInvalid: false,
                                    rules: {
                                        'email': {
                                            required: true,
                                            email: true
                                        },
                                        'password1': {
                                            required: true,
                                            minlength: 8,
                                        },
                                        'password2': {
                                            required: true,
                                            minlength: 8,
                                            equalTo: 'input[name="password1"]'
                                        },
                                        'first_name': {
                                            required: true,
                                            maxlength: 30
                                        },
                                        'last_name': {
                                            required: true,
                                            maxlength: 150
                                        },
                                        'username': {
                                            required: true,
                                            maxlength: 150
                                        }
                                    },
                                    // Errors
                                    errorPlacement: function errorPlacement(error, element) {
                                        var $parent = $(element).parents('.form-group');
                                        // Do not duplicate errors
                                        if ($parent.find('.jquery-validation-error').length) {
                                            return;
                                        }
                                        $parent.append(
                                            error.addClass('jquery-validation-error small form-text invalid-feedback')
                                        );
                                    },
                                    highlight: function (element) {
                                        var $el = $(element);
                                        var $parent = $el.parents('.form-group');
                                        $el.addClass('is-invalid');
                                        // Select2 and Tagsinput
                                        if ($el.hasClass('select2-hidden-accessible') || $el.attr('data-role') === 'tagsinput') {
                                            $el.parent().addClass('is-invalid');
                                        }
                                    },
                                    unhighlight: function (element) {
                                        $(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
                                    }
                                });
                            });
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}