{% load static %}
<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8"/>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Responsive Bootstrap 4 Admin Template">
    <meta name="author" content="Bootlab">
    <title>NSTU</title>
    <link href="{% static 'backend/css/app.css' %}" rel="stylesheet">
</head>
<body>
<div class="wrapper">
    <div class="d-flex">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
                    <div class="d-table-cell align-middle">

                        <div class="text-center mt-4">
                            <h1 class="h2">Welcome back!</h1>
                            <p class="lead">
                                Sign in to your account to continue
                            </p>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <div class="m-sm-4">
                                    <form id="validation-form" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label>Username</label>
                                            <input class="form-control form-control-lg" type="text" name="username"
                                                   placeholder="Enter your username"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input class="form-control form-control-lg" type="password" name="password"
                                                   placeholder="Enter your password"/>
                                            <small>
{#                                                <a href="pages-reset-password.html">Forgot password?</a>#}
                                            </small>
                                        </div>
                                        <div class="text-center mt-3">
                                            <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
                                        </div>
                                    </form>

                                    <script>
                                        document.addEventListener("DOMContentLoaded", function (event) {
                                            // Initialize validation
                                            $('#validation-form').validate({
                                                ignore: '.ignore, .select2-input',
                                                focusInvalid: false,
                                                rules: {
                                                    'password': {
                                                        required: true,
                                                        minlength: 6,
                                                    },
                                                    'username': {
                                                        required: true,
                                                        maxlength: 150
                                                    }
                                                },
                                                // Errors
                                                errorPlacement: function errorPlacement(error, element) {
                                                    var $parent = $(element).parents('.form-group');
                                                    // Do not duplicate errors
                                                    if ($parent.find('.jquery-validation-error').length) {
                                                        return;
                                                    }
                                                    $parent.append(
                                                        error.addClass('jquery-validation-error small form-text invalid-feedback')
                                                    );
                                                },
                                                highlight: function (element) {
                                                    var $el = $(element);
                                                    var $parent = $el.parents('.form-group');
                                                    $el.addClass('is-invalid');
                                                    // Select2 and Tagsinput
                                                    if ($el.hasClass('select2-hidden-accessible') || $el.attr('data-role') === 'tagsinput') {
                                                        $el.parent().addClass('is-invalid');
                                                    }
                                                },
                                                unhighlight: function (element) {
                                                    $(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
                                                }
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'backend/js/app.js' %}"></script>
<script src="{% static 'backend/js/forms.js' %}"></script>
</body>
</html>
