{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="nstu">
    <title>Home – NSTU OEM</title>

    <link rel="shortcut icon" href="{{ '/' }}{{ setting.favicon }}">

    <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'frontend/fontawesome-free/css/all.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'frontend/css/line-icon.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'frontend/css/main.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'frontend/css/animate.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'frontend/css/owl.carousel.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'frontend/css/owl.theme.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'frontend/css/settings.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'frontend/css/nivo-lightbox.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'frontend/css/responsive.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'frontend/css/slicknav.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'frontend/css/bootstrap-select.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}" type="text/css">
</head>
    <body>
    <div class="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-6">

                        <ul class="contact-details">
                            <li>
                                <a href="#">
                                    <i class="fas fa-map-marker-alt"></i> {{ setting.address }}
                                </a>
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-5 col-sm-6">

                        <ul class="social-list">
                            <li>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                            </li>
                        </ul>

{#                        <div class="account-setting">#}
{#                            <a href="signup.html">#}
{#                                <i class="fas fa-user-edit"></i>#}
{#                                <span>Register</span>#}
{#                            </a>/#}
{#                            <a href="login.html">#}
{#                                <i class="fas fa-sign-in-alt"></i>#}
{#                                <span>Login</span>#}
{#                            </a>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </div>

        <div class="top-bar-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-6">
                        <div class="header-logo">
                            <a href="/"><img src="{{ '/' }}{{ setting.logo }}" alt="" width="210" height="80"></a>
                        </div>
                        <div class="name-title">
                            Noakhali Science and Technology University
                            <br> Online Expenditure Management System
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-6">
                        <div class="contact pull-right">
                            <div class="call">
                                <h3><i class="fas fa-phone"></i> {{ setting.phone_number }}</h3>

                            </div>
                            <div class="email">
                              <h4><i class="fas fa-envelope"></i> <a href="mailto:info@nstu.edu">{{ setting.email }}</a></h4>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <nav class="navbar navbar-default">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">

                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <i class="fa fa-bars"></i>
                        </button>
                        <div class="logo-wrapper hidden">
                            <a class="navbar-brand" href="/">
                                <img src="{{ '/' }}{{ setting.logo }}" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="navbar-collapse collapse">

                        <ul class="nav navbar-nav">
                            <li>
                                <a href="/">Home</a>
                            </li>
                            <li>
                                <a>Projects</a>
                                <ul class="dropdown">
                                    <li>
                                        <a href="/project/category/all">All</a>
                                    </li>
                                    <li>
                                        <a href="/project/category/upcoming">Upcoming</a>
                                    </li>
                                    <li>
                                        <a href="/project/category/in-progress">In Progress</a>
                                    </li>
                                    <li>
                                        <a href="/project/category/completed">Completed</a>
                                    </li>
                                </ul>
                            </li>

                            <li>
                                <a href="/notice">Notice</a>
                            </li>

                            <li>
                                <a href="/officers-profile">Officer's Profile</a>
                            </li>

                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

            <ul class="mobile-menu">
                <li>
                    <a class="active" href="/">
Home
</a>
                </li>
                <li>
                    <a href="listing.html">
Listing
</a>
                    <ul class="dropdown">
                        <li>
                            <a href="listing.html">
Simple Listing 1
</a>
                        </li>
                        <li>
                            <a href="listingmap.html">
Simple Listing 2
</a>
                        </li>
                        <li>
                            <a href="gridlisting.html">
Grid Listing 1
</a>
                        </li>
                        <li>
                            <a href="listing-map.html">
Grid Listing 2
</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="property.html">
Property
</a>
                    <ul class="dropdown">
                        <li>
                            <a href="property.html">
Default- Variation
</a>
                        </li>
                        <li>
                            <a href="single-property.html">
Single Property
</a>
                        </li>
                        <li>
                            <a href="full-gallery.html">
Full Width Gallery
</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="news.html">
News
</a>
                </li>
                <li>
                    <a href="portfolio-4.html">
Gallery
</a>
                    <ul class="dropdown">
                        <li>
                            <a href="portfolio-2.html">
2 Columns Gallery
</a>
                        </li>
                        <li>
                            <a href="portfolio-3.html">
3 Columns Gallery
</a>
                        </li>
                        <li>
                            <a href="portfolio-4.html">
4 Columns Gallery
</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="about.html">
Pages
</a>
                    <ul class="dropdown">
                        <li>
                            <a href="about.html">
About Us
</a>
                        </li>
                        <li>
                            <a href="agents.html">
Agents
</a>
                        </li>
                        <li>
                            <a href="rent.html">
For Rent
</a>
                        </li>
                        <li>
                            <a href="sale.html">
For Sale
</a>
                        </li>
                        <li>
                            <a href="miami-city.html">
Miami City
</a>
                        </li>
                        <li>
                            <a href="dashboard.html">
Dashboard
</a>
                        </li>
                        <li>
                            <a href="submission.html">
Submission Form
</a>
                        </li>
                        <li>
                            <a href="faq.html">
FAQs
</a>
                        </li>
                        <li>
                            <a href="testimonials.html">
Testimonials
</a>
                        </li>
                        <li>
                            <a href="typography.html">
Typography
</a>
                        </li>
                        <li>
                            <a href="columns.html">
Columns
</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="single-family.html">
Types
</a>
                    <ul class="dropdown">
                        <li>
                            <a href="single-family.html">
Single Family Home
</a>
                        </li>
                        <li>
                            <a href="apartment-building.html">
Apartment Building
</a>
                        </li>
                        <li>
                            <a href="apartemnt.html">
Apartment
</a>
                        </li>
                        <li>
                            <a href="office.html">
Office
</a>
                        </li>
                        <li>
                            <a href="shop.html">
Shop
</a>
                        </li>
                        <li>
                            <a href="viall.html">
Villa
</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html">
Contact Us
</a>
                </li>
            </ul>

        </nav>
    </div>

    {% block body %}
    {% endblock %}


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget contact-widget">
                        <h4>
<a href="/"><img src="{{ '/' }}{{ setting.logo }}" class="img-responsive" alt="Footer Logo" /></a>
</h4>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h4>
Contact Info
</h4>
                        <ul class="address">
                            <li>
                                <i class="fas fa-map-marker-alt"></i> {{ setting.address }}
                            </li>
                            <li>
                                <i class="fas fa-phone"></i> {{ setting.phone_number }}
                            </li>
                            <li>
                                <a href="mailto:info@nstu.edu"><i class="fas fa-envelope"></i> {{ setting.email }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h4>
Usefull Links
</h4>
                        <div class="footer-nav">
                            <ul>
                                <li><a href="https://nstu.edu.bd"><i class="fas fa-external-link-alt"></i>nstu.edu.bd</a></li>
                                <li><a href="https://icenstu.edu.bd"><i class="fas fa-external-link-alt"></i>icenstu.edu.bd</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="footer-widget">
                        <h4>
Image Gallery
</h4>
                        <div class="flicker-gallery">
                            <a href="#"><img src="{% static 'frontend/img/flicker/img1.png' %}" alt=""></a>
                            <a href="#"><img src="{% static 'frontend/img/flicker/img2.png' %}" alt=""></a>
                            <a href="#"><img src="{% static 'frontend/img/flicker/img3.png' %}" alt=""></a>
                            <a href="#"><img src="{% static 'frontend/img/flicker/img4.png' %}" alt=""></a>
                            <a href="#"><img src="{% static 'frontend/img/flicker/img5.png' %}" alt=""></a>
                            <a href="#"><img src="{% static 'frontend/img/flicker/img6.png' %}" alt=""></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>

    <div id="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="site-info text-center">
                        <p>&copy; All rights reserved 2018 | <a href="http://nstu.edu/">Planing, Development and Works - NSTU</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="#" class="back-to-top">
        <i class="fas fa-arrow-up"></i>
    </a>

    <div id="loader">
        <div class="sk-folding-cube">
            <div class="sk-cube1 sk-cube"></div>
            <div class="sk-cube2 sk-cube"></div>
            <div class="sk-cube4 sk-cube"></div>
            <div class="sk-cube3 sk-cube"></div>
        </div>
    </div>


        <script type="text/javascript" src="{% static 'frontend/js/jquery-min.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/jquery.parallax.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/owl.carousel.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/wow.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/jquery.mixitup.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/nivo-lightbox.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/jquery.counterup.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/waypoints.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/form-validator.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/contact-form-script.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/jquery.themepunch.revolution.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/jquery.themepunch.tools.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/jquery.slicknav.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/bootstrap-select.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'frontend/js/script.js' %}"></script>
    </body>

</html>
