{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-md-8">
             <div id="carousel-area">
        <div id="carousel-slider" class="carousel slide" data-interval="3000">

            <ol class="carousel-indicators">
                <li data-target="#carousel-slider" data-slide-to="0" class="active">
                </li>
                <li data-target="#carousel-slider" data-slide-to="1">
                </li>
                <li data-target="#carousel-slider" data-slide-to="2">
                </li>
            </ol>
            <div class="carousel-inner">

                <div class="item active" style="background-image: url({% static 'frontend/img/slider/bg-1.jpg' %});">
{#                    <div class="carousel-caption">#}
{#                        <h2>#}
{#                            Charming West Beautiful Villa#}
{#                        </h2>#}
{#                        <h3>#}
{#                            <i class="fas fa-map-marker-alt"></i> Capital District, New York, US#}
{#                        </h3>#}
{#                        <div class="price-sl">#}
{#                            $ 125.000#}
{#                        </div>#}
{#                    </div>#}
                </div>
                <div class="item" style="background-image: url({% static 'frontend/img/slider/bg-2.jpg' %});">
{#                    <div class="carousel-caption">#}
{#                        <h2>#}
{#                            House With Beautiful Scendery#}
{#                        </h2>#}
{#                        <h3>#}
{#                            <i class="fas fa-map-marker-alt"></i> Seattle, Washington, US#}
{#                        </h3>#}
{#                        <div class="price-sl">#}
{#                            $ 255.000#}
{#                        </div>#}
{#                    </div>#}
                </div>
                <div class="item" style="background-image: url({% static 'frontend/img/slider/bg-3.jpg' %});">
{#                    <div class="carousel-caption">#}
{#                        <h2>#}
{#                            Luxurious Huge Duplex#}
{#                        </h2>#}
{#                        <h3>#}
{#                            <i class="fas fa-map-marker-alt"></i> Los Angeles, California, US#}
{#                        </h3>#}
{#                        <div class="price-sl">#}
{#                            $ 350.000#}
{#                        </div>#}
{#                    </div>#}
                </div>
            </div>
            <a class="left carousel-control" href="#carousel-slider" role="button" data-slide="prev">
                <i class="fas fa-angle-left"></i>
            </a>
            <a class="right carousel-control" href="#carousel-slider" role="button" data-slide="next">
                <i class="fas fa-angle-right"></i>
            </a>
        </div>
    </div>
        </div>
        <div class="col-md-4">
            <br>
            <h4>Director's Note</h4>
            <hr>
            <p>
                Welcome to the the office of Planning, Development & Works!!!

                I am pleased to know that Cyber center of NSTU is going to publish information of different departments of NSTU in the Website. As Director of Planning Development and Works I feel my profound satisfaction in achieving significant progress in implementing the activities timely. The Engineering section under DPDW office is playing vital role in building and maintaining infrastructures both Civil and Electrical. I am also hopeful that our collective commitment and concerted efforts would enable us to ensure sustainable development of the University.


            </p>
            <address>
                <h4>A.H.M NIZAMUDDIN CHOWDHURY</h4>
                <h5>Director & Project Director</h5>
                <h6>Noakhali Science and Technology University</h6>
            </address>
        </div>
    </div>
    </div>


    <section class="project section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title">Latest Projects</h2>
                </div>
                {% for project in newest_projects %}
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="project-main">
                            <div class="project-wrap">
                                <div class="project-item">
                                    <figure class="item-thumb">
                                        <a class="hover-effect" href="/project/{{ project.slug }}">
                                            <img src="{{ '/' }}{{ project.master_picture }}" alt="" height="340"
                                                 width="100%">
                                        </a>
                                        <span class="label-featured">
                                        {% if project.category == "1" %}
                                            Upcoming
                                        {% elif project.category == "2" %}
                                            In progress
                                        {% else %}
                                            Completed
                                        {% endif %}
                                    </span>
                                        <div class="label-inner">
                                            <span class="label-status label"  data-toggle="tooltip" data-placement="top" title="Engineer">{{ project.engineer.first_name }} {{ project.engineer.last_name }}</span>
                                        </div>
                                        <div class="price">
                                            <span class="item-price">৳ {{ project.budget|floatformat:2 }}</span>
                                            <span class="item-price">{{ project.worker }} worker(s)</span>
                                        </div>
                                    </figure>
                                    <div class="item-body">
                                        <h3 class="project-title"><a href="/project/{{ project.slug }}">{{ project.project_name }}</a></h3>
                                        <div class="info">
                                            <p>{{ project.description|safe|truncatewords:20 }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item-foot date hide-on-list">
                                <div class="pull-left">
                                    <p class="prop-user-agent"  data-toggle="tooltip" data-placement="top" title="Conductor"><i class="far fa-user"></i> <a
                                            href="#">{{ project.conductor.first_name }} {{ project.conductor.last_name }} </a>
                                    </p>
                                </div>
                                <div class="pull-right">
                                    <p class="prop-date" data-toggle="tooltip" data-placement="top" title="End date"><i class="far fa-calendar-plus"></i>{{ project.end_date }}</p>
                                </div>
                                <div class="pull-right">
                                    <p class="prop-date" data-toggle="tooltip" data-placement="top" title="Start date"><i class="far fa-calendar-plus"></i>{{ project.start_date }}&nbsp;
                                        - &nbsp;</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="text-center">
                <a href="/project/category/all" class="btn btn-common">View All</a>
            </div>
        </div>
    </section>
{% endblock %}