{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block body %}
    <div class="page-header" style="background: url({% static 'frontend/img/banner1.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-wrapper">
                        <h2 class="page-title">Contact</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="google-map"></div>

    <div class="support">
        <div class="container">
            <div class="row">
                <div class="support-inner">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4>Connect With Phone</h4>
                        <div class="support-info">
                            <div class="info-title">
                                <i class="fas fa-phone"></i> {{ setting.phone_number }}
                                <span>Availble time: 09:00 – 20:00</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4>Location</h4>
                        <div class="support-info">
                            <div class="info-title">
                                <i class="fas fa-map-marker-alt"></i> Address
                                <span>{{ setting.address }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <h4>Give Your Feedback</h4>
                        <div class="support-info">
                            <div class="info-title">
                                <i class="far fa-envelope"></i>
                                <a href="mailto:info@nstu.edu">{{ setting.email }}</a>
                                <span>Help Us improve!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="contact section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-title">
                        SEND US A MESSAGE
                    </h2>

                    <form  class="contact-form" data-toggle="validator" method="post">
                        {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                    <div class="alert-message">
                                        <strong>{{ message }}</strong>
                                    </div>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <div class="row">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="full_name" name="full_name"
                                                   placeholder="Full Name" required data-error="Please enter your name">
                                            <span class="text-danger">{{ form.errors.full_name }}</span>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="email"
                                                   placeholder="mail@example.com" name="email" required
                                                   data-error="Please enter your email">
                                            <div class="help-block with-errors"></div>
                                            <span class="text-danger">{{ form.errors.email }}</span>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" id="submit" class="btn btn-common">Send Message</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea class="form-control" id="message" placeholder="Massage" rows="10"
                                                      data-error="Write your message" name="message" required></textarea>
                                            <span class="text-danger">{{ form.errors.message }}</span>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHo_WtZ2nIYCgCLf7sINZaqcrpqSDio9o"></script>
    <script type="text/javascript">
        var map;
        var defult = new google.maps.LatLng(50.8452321, 4.3577968, 17.29);
        var mapCoordinates = new google.maps.LatLng(50.8452321, 4.3577968, 17.29);
        var markers = [];
        var image = new google.maps.MarkerImage(
            'img/map-marker.png',
            new google.maps.Size(84, 70),
            new google.maps.Point(0, 0),
            new google.maps.Point(60, 60)
        );

        function addMarker() {
            markers.push(new google.maps.Marker({
                position: defult,
                raiseOnDrag: false,
                icon: image,
                map: map,
                draggable: false
            }));
        }

        function initialize() {
            var mapOptions = {
                    backgroundColor: "#ffffff",
                    zoom: 15,
                    disableDefaultUI: true,
                    center: mapCoordinates,
                    zoomControl: false,
                    scaleControl: false,
                    scrollwheel: false,
                    disableDoubleClickZoom: true,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    styles: [{
                        "featureType": "landscape.natural",
                        "elementType": "geometry.fill",
                        "stylers": [{
                            "color": "#ffffff"
                        }
                        ]
                    }
                        , {
                            "featureType": "landscape.man_made",
                            "stylers": [{
                                "color": "#ffffff"
                            }
                                , {
                                    "visibility": "off"
                                }
                            ]
                        }
                        , {
                            "featureType": "water",
                            "stylers": [{
                                "color": "#80C8E5"
                            }
                                , {
                                    "saturation": 0
                                }
                            ]
                        }
                        , {
                            "featureType": "road.arterial",
                            "elementType": "geometry",
                            "stylers": [{
                                "color": "#999999"
                            }
                            ]
                        }
                        , {
                            "elementType": "labels.text.stroke",
                            "stylers": [{
                                "visibility": "off"
                            }
                            ]
                        }
                        , {
                            "elementType": "labels.text",
                            "stylers": [{
                                "color": "#333333"
                            }
                            ]
                        }

                        , {
                            "featureType": "road.local",
                            "stylers": [{
                                "color": "#dedede"
                            }
                            ]
                        }
                        , {
                            "featureType": "road.local",
                            "elementType": "labels.text",
                            "stylers": [{
                                "color": "#666666"
                            }
                            ]
                        }
                        , {
                            "featureType": "transit.station.bus",
                            "stylers": [{
                                "saturation": -57
                            }
                            ]
                        }
                        , {
                            "featureType": "road.highway",
                            "elementType": "labels.icon",
                            "stylers": [{
                                "visibility": "off"
                            }
                            ]
                        }
                        , {
                            "featureType": "poi",
                            "stylers": [{
                                "visibility": "off"
                            }
                            ]
                        }

                    ]

                }
            ;
            map = new google.maps.Map(document.getElementById('google-map'), mapOptions);
            addMarker();

        }

        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}