{% extends 'backend/base.html' %}
{% block body %}
    <div class="container-fluid p-0">
              <div class="clearfix">
								<a href="/admin/notice/add" class="btn btn-primary form-inline float-right mt--1 d-none d-md-flex">  <i class="align-middle" data-feather="plus"></i>  &nbsp; Add New Notice</a>
                <h1 class="h3 mb-3">Notice List</h1>
              </div>
              <div class="row">
                <div class="col-12 col-xl-12">
                  <div class="card">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Title</th>
                          <th>Published date</th>
                          <th>Attachment</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for notice in object_list %}
                        <tr>
                          <td>{{ notice.title }}</td>
                          <td class="d-none d-md-table-cell">{{ notice.published_date }}</td>
                          <td class="d-none d-md-table-cell">
                              {% if notice.attachment %}
                                <a href="{{ '/' }}{{ notice.attachment }}" class="btn btn-sm btn-success"><i class="fa fa-paperclip" aria-hidden="true"></i>
 Download</a>
                              {% else %}
                                  -
                              {% endif %}
                          </td>
                          <td class="table-action">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="View">
                              <i class="align-middle" data-feather="eye"></i>
                            </a>
                            <a href="/admin/notice/edit/{{ notice.id }}" data-toggle="tooltip" data-placement="top" title="Edit">
                              <i class="align-middle" data-feather="edit"></i>
                            </a>
                            <!-- <a href="#" data-toggle="tooltip" data-placement="top" title="Delete">
                              <i class="align-middle" data-feather="trash"></i>
                            </a> -->
                          </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}