{% extends 'backend/base.html' %}
{% block body %}
    <div class="container-fluid p-0">
        <div class="clearfix">
            <a href="/admin/notice/list" class="btn btn-primary form-inline float-right mt--1 d-none d-md-flex"> <i
                    class="align-middle" data-feather="list"></i> &nbsp; Notice List</a>
            <h1 class="h3 mb-3">Add New Notice</h1>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form id="validation-form" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                        <div class="alert-message">
                                            <strong>{{ message }}</strong>
                                        </div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                {% endfor %}
                            {% endif %}

                            {{ form.non_field_errors }}
                            <div class="form-group">
                                <label for="title" class="form-label"> Title</label>
                                <input type="text" class="form-control" id="title" name="title"
                                       placeholder="Enter title">
                                <small class="form-text text-muted">Title length must be 200 characters or fewer.
                                </small>
                                <span class="text-danger">{{ form.project_name.errors }}</span>
                            </div>

                            <div class="form-group">
                                <label for="description" class="form-label"> Description</label>
                                <textarea name="description" class="editor" placeholder="Type something"></textarea>
                                <script>
                                    ClassicEditor.create(document.querySelector('.editor'));
                                </script>
                                <small class="form-text text-muted">Notice description length must be between 20 to 2000
                                    characters or fewer.
                                </small>
                            </div>

                            <div class="form-row">
{#                                <div class="form-group col-md-6">#}
                                {#                                    <label for="category" class="form-label">Category</label>#}
                                {#                                    <select class="form-control mb-3" id="category" name="category">#}
                                {#                                        <option value="1">Upcoming</option>#}
                                {#                                        <option value="2">In progress</option>#}
                                {#                                        <option value="3">Completed</option>#}
                                {#                                    </select>#}
                                {#                                </div>#}

                                <div class="form-group col-md-6">
                                    <label for="published_date" class="form-label">Published date</label>
                                    <input class="form-control" type="text" name="published_date"/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="form-label w-100">Attachment</label>
                                <input type="file" name="attachment">
                                <small class="form-text text-muted">Must be valid file format</small>
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <script>
                            document.addEventListener("DOMContentLoaded", function (event) {

                                // moment
                                $('input[name="published_date"]').daterangepicker({
                                    singleDatePicker: true,
                                    showDropdowns: true
                                });

                                //select2
                                $('.select2').each(function () {
                                    $(this)
                                        .wrap('<div class="position-relative"></div>')
                                        .select2({
                                            placeholder: 'Select value',
                                            dropdownParent: $(this).parent()
                                        });
                                });

                                // Initialize validation
                                $('#validation-form').validate({
                                    ignore: '.ignore, .select2-input',
                                    focusInvalid: false,
                                    rules: {
                                        'title': {
                                            required: true,
                                            maxlength: 200
                                        },
                                        'description': {
                                            maxlength: 2000
                                        },
                                        'published_date': {
                                            required: true
                                        },
                                    },
                                    // Errors
                                    errorPlacement: function errorPlacement(error, element) {
                                        var $parent = $(element).parents('.form-group');
                                        // Do not duplicate errors
                                        if ($parent.find('.jquery-validation-error').length) {
                                            return;
                                        }
                                        $parent.append(
                                            error.addClass('jquery-validation-error small form-text invalid-feedback')
                                        );
                                    },
                                    highlight: function (element) {
                                        var $el = $(element);
                                        var $parent = $el.parents('.form-group');
                                        $el.addClass('is-invalid');
                                        // Select2 and Tagsinput
                                        if ($el.hasClass('select2-hidden-accessible') || $el.attr('data-role') === 'tagsinput') {
                                            $el.parent().addClass('is-invalid');
                                        }
                                    },
                                    unhighlight: function (element) {
                                        $(element).parents('.form-group').find('.is-invalid').removeClass('is-invalid');
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}